@font-face {
    font-family: Didot;
    src: url("Didot-HTF-L42-Light.ttf");
}

@media screen and (max-width: 960px) {
    #header { width: 70% !important; }
    #main { width: 70%; !important; }
}

@media screen and (max-width: 800px) {
    #header { width: 80% !important; }
    #main { width: 80% !important; }
}

a { color: white; }
body {
    background-color: black;
    color: white;
    margin: 0;
}
#header {
    font-size: 700%;
    line-height: 1;
    user-select: none;
}
#header-word {
    text-align-last: justify;
}
    
#main {
    font-family: Times, 'Times New Roman', serif;
    width: 800px;
    margin: 0 auto;
    color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;;
}
  
